div.announce{
    width: 100%;
    height: 40px;
    top: 0px;
    background-color: #000;
    text-align: center;
    padding-top: 10px;
    position: fixed;
    z-index: 1000;
}
a{
    font-size: 10px;
}
a#shop{
    color: #fff;
    border-bottom: 2px solid #fff;
    text-decoration: none;
}



header{
    width: 100%;
    background-color: rgb(10, 124, 71);
    margin-top: 40px;
    padding: 10px 20px;
    height: 90px;
    position: fixed;
    display: flex;
    top: 0;
    z-index: 1000;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul.menu{
    width: 150px;
    height: 300px;
    background-color: rgb(10, 124, 71);
    padding: 20px 20px;
    color: #fff;
    text-align: center;
    transform: scale(0);
    opacity: 0;
    border: 0;
    transition: 0.3s all;
}

nav ul.menu li{
    margin-bottom: 5px;
    padding: 5px;
}

nav ul.menu li a{
    font-size: 12px;
}

nav ul.menu li a:active{
color: rgb(10, 124, 71);
}
nav ul.menu li:active{
    background-color: #fff;
    }

.nav{
    color: #fff;
    display: flex;
    gap: 10px;
}

button.btn{
    display: flex;
    align-items: center;
}


header img{
    width: 60px;
    height: 60px;
    border-radius: 80px;
}

/*Footer styles */
footer{
    width: 100%;
    height: 440px;
    position: relative;
    bottom: 0;
    background-color: rgb(10, 124, 71);
    padding: 10px;
}

footer .footer{
   margin: 10px auto;
   text-align: center;
}


footer .search-policy{
   width: 250px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 30px auto;
}

footer .search-policy form{
   width: 250px;
   height: 40px;
   color: rgb(90, 86, 86);
   margin: 0 auto;
}
footer .search-policy form input{
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
   width: 200px;
}

input + .search-icon{
   position: relative;
   right: 40px;
   top: 5px;
   color: #000;
}

footer .search-policy a{
   color: #fff;
   font-size: 15px;
}

footer .newsletter-about{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 30px auto;
}

footer .newsletter-about form input{
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
   margin: 0;
   position: relative;
   color: rgb(90, 86, 86);
}

footer .newsletter-about form input.submit{
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   left: -10px;
   background-color: #131417;
   color: #fff;
   width: 95px;
}

footer .newsletter-about form input.submit:hover{
   background-color: rgb(10, 124, 71);
   border: 1px solid #fff;
}

footer .newsletter-about form input.email{
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   width: 180px;
}

footer .newsletter-about p{
   color: #fff;
   font-size: 15px;
}
div.contact-container{
    width: 100%;
    height: 80px;
    clear: both;
    padding: 10px;
    position: absolute;
    left: 0;
}

div.contact{
    width: 30px;
    border-radius: 50px;
    height: 30px;
    margin: 20px 10px 5px 0px;
    background-size: cover;
    display: inline-block;
}


div.telegram{
    background-image: url(../images-main/telegram.jpg);
}

div.twitter{
    background-image: url(../images-main/twitter.jpg);
}

div.instagram{
    background-image: url(../images-main/ig\ logo.jpg);
    border-radius: 8px;
}

div.facebook{
    background-image: url(../images-main/facebook.png);
    border-radius: 5px;
}

div.whatsapp{
    background-image: url(../images-main/whatsapp\ logo.jpg);
}

div.mail{
    background-image: url(../images-main/mail.jpg);
    border-radius: 7px;
    width: 40px;
}

div.contact-container a div:hover{
    transform: scale(1.2);
    transition: 1s;
}

div.contact-container p{
   color: #fff;
   font-size: 15px;
   position:relative;
   top: 5px;
}

footer .search-policy form input:focus + .search-icon{
    display: none;
}


div.gsc-control-cse{
    border: 0;
    background-color: transparent
 }
